USE [master]
GO
/****** Object:  Database [RetailOnboardPro]    Script Date: 5/26/2025 3:17:53 AM ******/
CREATE DATABASE [RetailOnboardPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RetailOnboardPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RetailOnboardPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RetailOnboardPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RetailOnboardPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RetailOnboardPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RetailOnboardPro]
GO
/****** Object:  Table [dbo].[approval_history]    Script Date: 5/26/2025 3:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_history](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [varchar](20) NULL,
	[action_at] [datetime2](6) NOT NULL,
	[comments] [nvarchar](max) NULL,
	[approver_id] [bigint] NOT NULL,
	[request_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requests]    Script Date: 5/26/2025 3:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category] [varchar](50) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[updated_at] [datetime2](6) NULL,
	[creator_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/26/2025 3:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](150) NULL,
	[name] [varchar](100) NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](20) NULL,
	[username] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[approval_history] ON 

INSERT [dbo].[approval_history] ([id], [action], [action_at], [comments], [approver_id], [request_id]) VALUES (1, N'Create', CAST(N'2025-05-26T02:33:27.5361520' AS DateTime2), NULL, 5, 1)
INSERT [dbo].[approval_history] ([id], [action], [action_at], [comments], [approver_id], [request_id]) VALUES (2, N'Reject', CAST(N'2025-05-26T02:34:44.2552220' AS DateTime2), N'Cậu làm ăn thế à', 8, 1)
INSERT [dbo].[approval_history] ([id], [action], [action_at], [comments], [approver_id], [request_id]) VALUES (3, N'Create', CAST(N'2025-05-26T02:36:48.0606630' AS DateTime2), NULL, 5, 2)
SET IDENTITY_INSERT [dbo].[approval_history] OFF
GO
SET IDENTITY_INSERT [dbo].[requests] ON 

INSERT [dbo].[requests] ([id], [category], [created_at], [reason], [status], [updated_at], [creator_id]) VALUES (1, N'Customer Service', CAST(N'2025-05-26T02:33:27.5011080' AS DateTime2), N'fgjvfgvf', N'Rejected_Manager', CAST(N'2025-05-26T02:34:44.2602160' AS DateTime2), 5)
INSERT [dbo].[requests] ([id], [category], [created_at], [reason], [status], [updated_at], [creator_id]) VALUES (2, N'Sales Techniques', CAST(N'2025-05-26T02:36:48.0576790' AS DateTime2), N'Tôi đập trai
', N'Pending_CEO', CAST(N'2025-05-26T02:44:11.1119720' AS DateTime2), 5)
INSERT [dbo].[requests] ([id], [category], [created_at], [reason], [status], [updated_at], [creator_id]) VALUES (3, N'Store Operations', CAST(N'2024-01-15T09:00:00.0000000' AS DateTime2), N'Need training on new store opening procedures and daily operations management. This includes understanding opening/closing checklists, cash handling procedures, and customer flow management during peak hours.', N'Approved', CAST(N'2024-01-18T16:30:00.0000000' AS DateTime2), 7)
SET IDENTITY_INSERT [dbo].[requests] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [name], [password], [role], [username]) VALUES (1, N'admin@retailonboardpro.com', N'Admin User', N'$2a$10$h0k9jCawh.laC/DKSLUuNuNpVqlAf6QzLKoKpsFiGcS5o/RJaxyCO', N'CEO', N'admin')
INSERT [dbo].[users] ([id], [email], [name], [password], [role], [username]) VALUES (2, N'manager@retailonboardpro.com', N'Manager User', N'$2a$10$EXadpgvTLhqHws7v8oTMDePGRI4ZK663i9VOi.UUQZ9JvLFTQPNN6', N'Manager', N'manager')
INSERT [dbo].[users] ([id], [email], [name], [password], [role], [username]) VALUES (3, N'director@retailonboardpro.com', N'Director User', N'$2a$10$DQSROJ9T5rX7k6NcL7AGk.Ycs5AYimZwM9PNG1sQs6.32emJUwq82', N'Director', N'director')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 5/26/2025 3:17:53 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK6dotkott2kjsp8vw4d0m25fb7] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 5/26/2025 3:17:53 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKr43af9ap4edm43mmtq01oddj6] ON [dbo].[users]
(
	[username] ASC
)
WHERE ([username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[approval_history]  WITH CHECK ADD  CONSTRAINT [FKrlh9sb6rxt3ch1jn4tifneqtj] FOREIGN KEY([request_id])
REFERENCES [dbo].[requests] ([id])
GO
ALTER TABLE [dbo].[approval_history] CHECK CONSTRAINT [FKrlh9sb6rxt3ch1jn4tifneqtj]
GO
ALTER TABLE [dbo].[approval_history]  WITH CHECK ADD  CONSTRAINT [FKseinmudit4pmpqg5sd6ux3gu] FOREIGN KEY([approver_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[approval_history] CHECK CONSTRAINT [FKseinmudit4pmpqg5sd6ux3gu]
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD  CONSTRAINT [FK821yol40hs2bv8psh9ol3uh51] FOREIGN KEY([creator_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[requests] CHECK CONSTRAINT [FK821yol40hs2bv8psh9ol3uh51]
GO
USE [master]
GO
